/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Manrope', sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 22px 0px 22px 165px;
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav li {
  margin-right: 34px;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #18191F;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header-nav li a {
  color: #18191F;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

.header-nav li a:hover {
  background-size: 100% 2px;
}

.header-nav select {
  cursor: pointer;
  border: none;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #18191F;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 4px 0px;
}

.logo {
  margin-right: 32px;
}

.download-img {
  margin: 16px 165px 16px 0px;
}

.download-img a {
  text-decoration: none;
}

.main {
  background-color: #0B0D17;
  height: 1190px;
}

h1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #fff;
}

.wrapper {
  height: 1110px;
  margin: 0 auto;
  padding-top: 80px;
}

.services-container {
  margin-top: 48px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 30px 30px;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  padding-top: 56px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #18191F;
}

.services-items {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 350px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 40px 32px;
  background: #FFFFFF;
  border-radius: 8px;
}

.services-items p {
  padding-top: 12px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #18191F;
}

.services-items a {
  padding-top: 40px;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #8C30F5;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

.services-items a:hover {
  background-size: 100% 2px;
}

.explore-all-btn {
  background-color: #0B0D17;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  display: inline-block;
  padding: 16px 20px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  text-decoration: none;
}

.logos-section {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110px;
  margin-top: 40px;
}

.logos-section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logos-section li {
  padding-left: 64px;
}

.features-title h2 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #18191F;
}

.features-title h3 {
  padding-top: 8px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #18191F;
}

.features-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 64px 30px;
  padding-top: 48px;
  padding-bottom: 64px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-items {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 350px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
}

.title-text {
  padding-top: 24px;
  padding-bottom: 15px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #18191F;
}

.title-text p {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #18191F;
}

.footer {
  background-color: #0B0D17;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 55px;
  margin-left: 165px;
}

.left-block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
}

.left-block li {
  padding-right: 25px;
}

.left-block a {
  color: #D9DBE1;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

.left-block a:hover {
  background-size: 100% 2px;
}

.left-block p {
  color: #D9DBE1;
  padding-top: 35px;
}

.right-block {
  margin-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  height: 140px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 165px;
}

.right-block p {
  color: #D9DBE1;
  padding-bottom: 20px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
}

.right-block li {
  padding-bottom: 15px;
}
/*# sourceMappingURL=style.css.map */