@import "reset";
body{
    margin: 0 auto;
    width: 1600px;
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
}
.header-nav{
    display: flex;
    align-items: center;
    margin-left: 200px;
}
.logo{
    margin-right: 100px;
}
.header-contact{
    display: flex;
    align-items: center;
    margin-right:210px ;
}
.header-ul {
    display: flex;
    text-align: center;

}
.header-ul > li {
    display: inline-block;
    position: relative;
}
.header-ul > li:after {
    content: "";
    right: 0;
    width: 1px;
    transform: rotate(30deg);
}
.header-ul > li:last-child:after {
    background: none;
    box-shadow: none;
}
.header-ul > li > a {
    padding-right: 45px;
    color: #1E266D;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}
.header-ul li a:hover {color: #c0a97a;}
.submenu {
    border-radius: 100px;
    position: absolute;
    left: 50%;
    top: 100%;
    width: 210px;
    margin-left: -105px;
    background:#3751FF;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
}
.submenu li a {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
}
.header-ul > li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.header-phone-number{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    color: #1E266D;
}
.contact-btn{
    color: #fff;
    background: #3751FF;
    border-radius: 100px;
    height: 40px;
    width: 113px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
}
.img-under-title{
    height: 1012px;
    background-image: url(../img/Hero.png);
}
.logos{
    margin-top: 55px;
    h2{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 27px;
        text-align: center;
        color: rgba(69, 88, 128, 0.5);
    }
    ul{
        display: flex;
        justify-content: center;
        margin-top: 55px;
    }
    li{
        margin-right: 72px;
    }
}
.about{
        background-image: url(../img/Graphic.png);
        background-repeat: no-repeat;
        margin-top: 172px;
        background-position:22% 25%;
        height: 1060px;
    h2{
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 60px;
        text-align: center;
        color: #1E266D;
    }
    ul{
        margin-right: 175px;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    li{
        width: 390px;
        height: 193px;
        display: flex;
        border-bottom: 1px solid rgba(69, 88, 128, 0.2);
        margin-top: 30px;
    }
    li:nth-child(3){
        border-bottom: none;
    }
    .svg-about{
        height: 58px;
        width: 58px;
    }
    span{
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 125%;
        color: #1E266D;
    }
    p{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: #455880;
        margin-top: 35px;
    }

}
.text-container-about{
    margin-left: 48px;
}
.description-design{
    background-blend-mode: multiply;
    height: 1000px;
    background-image: url(../img/Graphic2.jpg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-color:#FFF9EA;

    h2{
        padding-top: 140px;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 60px;
        text-align: center;
        color: #1E266D;
    }
    h3{
        padding-top: 40px;
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 150%;
        text-align: center;
        color: #455880;

    }
}
.testimonials{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    h2{
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 60px;
        text-align: center;
        color: #1E266D;
    }
}
.Testimonials-container{
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto auto;
    grid-gap: 0px 30px;
    margin-top: 56px;
    div{
        border: 1px solid rgba(69, 88, 128, 0.2);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 476px;
        width: 373px;
    }
    p{
        height: 212px;
        width: 281px;
        border-radius: nullpx;
        margin-top: 38px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 180%;
        margin-bottom: 40px;
        color: #455880;
    }
    h3{
        margin-top: 23px;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 125%;
        text-align: center;
        color: #1E266D;
    }
    a{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 180%;
        text-align: center;
        color: #455880;
        text-decoration: none;
    }
}
.get-in-touch{
    margin-top: 150px;
    background: #3751FF;
    height: 323px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h2{
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 60px;
        color: #FFFFFF;
    }
    h3{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 125%;
        text-align: right;
        color: #DFE0EB;
    }
}
.design-studio-link{
    text-decoration: none;
    color: #FED385;
}
.get-in-touch-right-column{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 100px;
}
.get-in-touch-btn{
    svg{
        padding-right:15px ;
    }
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    text-align: center;
    color: #455880;
    text-decoration: none;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 100px;
    height: 56px;
    width: 245px;
}
.footer{
    h3{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 145%;
        color: #455880;
    }
    h2{
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 125%;
        color: #1E266D;

    }
}
.footer-info-wrapper{
    height: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(135, 146, 161, 0.08);

}
.logo-description{
    margin-right: 184px;
    height: 266px;
    width: 310px;
    h3{
        margin-top: 31px;
    }
}
.pages-ul{
    margin-right: 15px;
    height: 261px;
    width: 212px;
    h2{
        margin-bottom: 22px;
    }
    li{
        margin-bottom: 28px;
    }
    a{
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 225%;
        color: #455880;
    }
}
.demos-ul{
    height: 261px;
    width: 212px;
    margin-right: 34px;
    h2{
        margin-bottom: 22px;
    }
    li{
        margin-bottom: 28px;
    }
    a{
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 225%;
        color: #455880;
    }
}
.resources{
    height: 261px;
    width: 218px;
    ul{
        display: flex;
        margin-top: 25px;
        li{
            margin-right: 25px;
        }
    }
    a{
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 225%;
        color: #455880;
    }
}
.Copyright{
    margin-top: 53px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 27px;
        color: rgba(69, 88, 128, 0.5);
        width: 583px;
        height: 38px;

    }
    ul{
        display: flex;
        justify-content: flex-end;
        width: 583px;
        height: 38px;
        li{
            margin-right: 25px;
        }
        a{
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 27px;
            text-align: right;
            color: #455880;
        }
    }
}
